---
import site from '~/data/site.config.yml';
const { title, description, robots } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="utf-8" />
  <title>{title}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={description} />

  {robots && (
    <meta name="robots" content={robots} />
  )}

  {site.author?.name && (
    <meta name="author" content={site.author.name} />
  )}

  {site.themeColor && (
    <meta name="theme-color" content={site.themeColor} />
  )}

  {site.siteIcons.map((item) => (
    <link
      rel={item.rel.join(' ')}
      href={item.href}
      type={item.type} />
  ))}

  <link
    rel="canonical"
    href={canonicalURL} />

  <link
    rel="manifest"
    href="/manifest.json"
    type="application/manifest+json">

  <link
    rel="alternate"
    type="application/rss+xml"
    title={'RSS feed for ' + site.siteName}
    href={new URL('rss.xml', Astro.site)} />

  <link rel="author" href="/humans.txt" />
</head>
