---
import '~/styles/global.scss';

import Banner from '~/components/Banner.astro';
import Head from '~/components/Head.astro';
import Logo from '~/components/Logo.astro';
import Navigation from '~/components/Navigation.astro';
import Footer from '~/components/Footer.astro';

import { truncate } from '~/utils/truncate';
import site from '~/data/site.config.yml';
import nav from '~/data/navigation.json';

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;

function getPageId(path) {
  if (path === '/') return 'posts';

  for (const item of nav) {
    if (path.startsWith(item.base)) {
      return item.label;
    }
  }

  return 'unknown';
}

const pageId = getPageId(currentPath);
const pageTitle = title ? `${title} | ${site.siteName}` : site.siteName;
const pageDescription = truncate(description ?? site.tagline);
---

<html lang={site.language.code}>
  <Banner />

  <Head
    title={pageTitle}
    description={pageDescription} />

  <body
    id={'page-' + pageId}
    data-layout-type={currentPath === '/' ? 'home' : 'sub'}>

    <header class="siteHeader">
      <Logo
        siteName={site.siteName}
        description={site.tagline} />

      <Navigation
        nav= {nav}
        currentPageId={pageId} />
    </header>

    <div class="siteBody">
      <main>
        <slot />
      </main>
    </div>

    <Footer />
  </body>
</html>
